*{
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    background:url(pexels-padrinan-1111368.jpg.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: ;
    width: 100%;
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    color: aliceblue;
    font-size: 50px;
    font-style: inherit;
    animation-name:couleur;
    animation-duration: 7s;
    animation-timing-function: ease;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  
}
@keyframes couleur{
    form{color: aliceblue;}
    to{color: purple;}
}
footer{
    width: 97%;
    background-color: gray;
    display: flex;
    margin-bottom: -100px;
    margin-top: 740px;
    padding: 20px;
    justify-content: center;
    justify-content: space-between;
}
p{
    padding-left: 500px;
    
}
button{
    margin: 20px;
    padding: 10px;
    border: solid ;
    border-radius: 20px;
    background-color: white;
    color: purple;
    font-weight:bold ;
    cursor: pointer;
}
button:hover{
    color: white;
    transition: 1s ease;
    background-color: transparent;
}
